* {
	//border:1px solid red;
}
p {

	//width:750px;
	//font-size:80px;

}
/*h10 {
	position:absolute;
	width:500px;
	top:1650px;
	left:666px;
	font-size:80px;
}
*/
.menu_el{
    
    color:#00D1FF;
    float:left;
    margin:0 53px; 
    font-size:80px;

} 

header {
	width:100%;
	background-color:#FFF500;
	height:150px;
}

nav {
	background-color:#000000;
	width:100%;
	height:90px;
    //margin:0 auto;
    border: 1px solid blue; 
    float:left;
}

article {
	background-image:url(Основная.jpg);
	width:100%;
}

footer {
	width:100%;
}
.Z {
	position:absolute;
	right:10%;
	top:50px;
}
.K {
	
	width:1250px;
	height:1200px;
	margin:3%;
}
.F {
	
	top:1550px;
	left:50px;
}
.heading {
	font-size:70px;
	margin:5%;
}
.kybhab {

 	top:500px;
 	left:10%;
 	width:500px;
 	border:3px red solid;
 }
h1 {
	top:1000px;
	left:100px;
	width:155px;
	border:3px blue solid;
}
footer {
	background-image:url(Подвал.jpg);
	width:100%;
	height:200px;
	
}